*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.container_estilizado{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
}